@import '../../../styles/colors.scss';
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  padding: 0 10px;
  overflow: hidden;
  .conainer_projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    height: 700px;
    border: 2px solid $primary;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    .splide {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1150px;
      height: 700px;
    }
    .splide_slide {
      display: flex;
      width: 100%;
      height: 700px;
      justify-content: center;
      align-items: center;
    }
    .container_projects_box {
      display: flex;
      justify-content: center;
      padding: 30px 0;
      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 30px;
        padding: 0 30px;
        position: absolute;
        .info {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          transition: all 0.4s;
          img {
            object-fit: contain;
            transform: rotate(0deg);
            transition: all 0.4s;
          }
          p {
            font-size: 40px;
          }
          &:hover {
            transform: scale(95%);
            transition: all 0.4s;
            img {
              transform: rotate(270deg);
              transition: all 0.4s;
            }
          }
        }
        cursor: pointer;
        p {
          font-size: 50px;
          font-family: $font_passion;
        }
      }
      .projects {
        position: relative;
        width: 650px;
        height: 500px;
        overflow: hidden;
        cursor: pointer;
        .container_logo {
          display: flex;
          justify-content: center;
          top: 0;
          left: -600px;
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: contain;
          opacity: 1;
          transition: all 0.4s;
          .logo {
            object-fit: contain;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.4s;
            &:hover {
              transform: scale(105%);
              transition: all 0.4s;
            }
          }
          .circle {
            position: absolute;
            animation: spin 10s linear infinite;
          }
        }
        .visible {
          left: 0;
          transition: all 1s;
          opacity: 1;
        }
      }
      .container_content_project_items {
        display: flex;
        .container_another_items {
          padding: 0 60px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: left;
          gap: 40px;
          width: 300px;
          height: 500px;
          .container_options {
            min-width: 135px;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 15px;
            transition: all 0.3s;
            .item {
              font-family: $font_passion;
              font-size: 35px;
              cursor: pointer;
            }
            &:hover {
              transform: translateY(-8px);
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}
.container_blur {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.362);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  .container_card {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    max-width: 1000px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    background-color: $secondary;
    border: 2px solid $white;
    opacity: 1;
    transition: all 0.4s;
    .close {
      right: 20px;
      position: absolute;
      cursor: pointer;
      transition: all 0.4s;
      &:hover {
        transform: scale(110%);
        transition: all 0.4s;
      }
    }
    .container_content_card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 45px;
      align-items: center;
      width: 100%;
      height: 100%;
      .title {
        font-size: 30px;
      }
      .desc {
        text-align: center;
      }
      .footer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 50px;
        img {
          width: 50px;
          cursor: pointer;
          transition: all 0.4s;
          &:hover {
            transform: scale(110%);
            transition: all 0.4s;
          }
        }
        .date {
          text-align: left;
          width: 100%;
          color: $primary;
        }
      }
      .container_content_parts {
        display: flex;
        gap: 40px;
        .tools {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .container_content_tools {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            max-height: 160px;
            gap: 5px;
            .container_tools {
              display: flex;
              align-items: center;
              gap: 10px;
              .icons {
                width: 15px;
              }
            }
          }
        }
      }
    }
  }
  .container_card_hidden {
    top: -600px;
    opacity: 0;
    transition: all 0.4s;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
