.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    width: 100%;
    height: 100%;
  }
  .container_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    height: 100%;
    .container_content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 5px;
      gap: 10px;
      width: 95%;
      max-width: 400px;
      min-height: 150px;
      .title {
        width: 100%;
        font-size: 32px;
      }
      .container_icon {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
        .icon {
          width: 100%;
          height: 100%;
          transition: all 0.5s;
        }
        &:hover {
          .icon {
            transform: scale(130%);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
