@import '../../../styles/colors.scss';
.main {
  width: 100%;
  height: 100%;
  .container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .container_left {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 600px;
      width: 100%;
      height: 100%;
    }
    .container_right {
      z-index: 1;
      width: 100%;
      height: 100%;
      max-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 0 10px;
      .container_content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        height: 150px;
        border-left: 2px solid $primary;
        transition: all 0.5s;
        .header {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          cursor: pointer;
          .title {
            width: 100%;
            text-align: center;
            font-size: 32px;
            font-family: $font_passion;
          }
          img {
            margin-left: 10px;
          }
        }
        .container_content_icon {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          gap: 5px;
          padding: 0 5px;
          transition: all 0.5s;
          opacity: 1;
          .container_icon {
            width: 45px;
            height: 45px;
            background-color: $white;
            padding: 5px;
            border-radius: 5px;
            img {
              width: 100%;
              height: 100%;
              transition: all 0.5s;
            }
            &:hover {
              img {
                transform: scale(130%);
                transition: all 0.5s;
              }
            }
          }
        }
      }
      .hidden {
        height: 80px;
        overflow: hidden;
        transition: all 0.5s;
        border-left: 2px solid $white;
        .container_content_icon {
          opacity: 0;
          height: 0;
          transition: all 0.5s;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .main {
    .container {
      position: relative;
      .container_left {
        width: 100%;
        position: absolute;
        opacity: 0.1;
      }
      .container_right {
        max-width: 100%;
        height: 100%;
      }
    }
  }
}
@media (max-width: 680px) {
  .main {
    .container {
      margin-top: 20px;
      .container_right {
        .container_content {
          max-width: 320px;
          height: 120px;
          .header {
            height: 50px;
            .title {
              font-size: 25px;
            }
          }
          .container_content_icon {
            .container_icon {
              width: 40px;
              height: 40px;
            }
          }
        }
        .hidden {
          height: 50px;
        }
      }
    }
  }
}
@media (max-width: 300px) {
  .main {
    .container {
      .container_right {
        .container_content {
          .container_content_icon {
            .container_icon {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }
}
