@import '../../../styles/colors.scss';
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  overflow: hidden;
  .container_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    .container_hero {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 100%;
      background-color: $primary;
      transition: background-color 1s ease-in-out;
      border: 3px solid transparent;
      &.purple {
        background-color: rgb(140, 5, 223);
      }
      &.green {
        background-color: $primary;
      }
      &.pink {
        background-color: rgb(235, 190, 245);
      }
      &.blue {
        background-color: rgb(0, 200, 255);
      }
      img {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .about {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      max-width: 650px;
      width: 100%;
      .bar {
        position: absolute;
        width: 3px;
        height: 100%;
        right: -35px;
        border-radius: 20px;
        background-color: $primary;
      }
      .title {
        text-align: center;
        font-size: 42px;
        margin-bottom: 10px;
        span {
          color: $primary;
        }
      }
      .desc {
        text-align: center;
        font-size: 22px;
      }
      .desc_one {
        font-size: 26px;
        span {
          color: $primary;
        }
      }
      .desc_two {
        font-size: 21px;
      }
      .desc_third {
        font-size: 18px;
        span {
          color: $primary;
        }
      }
    }
  }
  .download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    .title {
      font-size: 32px;
      span {
        color: $primary;
      }
    }
    .link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      .container_img {
        z-index: 1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $primary;
        cursor: pointer;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .text {
        border: 2px solid white;
        display: flex;
        text-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-left: -25px;
        position: relative;
        width: 10px;
        height: 100%;
        background-color: rgb(38, 38, 38);
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        opacity: 1;
        transition: all 0.4s;
        overflow: hidden;
        cursor: pointer;
        p {
          opacity: 1;
          margin-left: 100px;
          transition: all 0.4s;
        }
      }
      &:hover {
        .text {
          width: 170px;
          opacity: 1;
          transition: all 0.4s;
          p {
            opacity: 1;
            margin-left: 20px;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .container {
    gap: 20px;
    .container_content {
      flex-direction: column;
      .about {
        max-width: 95%;
        .bar {
          width: 3px;
          height: 100%;
          right: -10px;
        }
        .title {
          font-size: 35px;
        }
        .desc {
          font-size: 18px;
        }
        .desc_one {
          font-size: 20px;
        }
        .desc_two {
          font-size: 16px;
        }
        .desc_third {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 835px) {
  .container {
    .container_content {
      .container_hero {
        width: 250px;
        height: 250px;
      }
      .about {
        .bar {
          opacity: 0;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .container {
    .container_content {
      .about {
        .title {
          font-size: max(6.4vw, 14px);
        }
        .desc {
          font-size: max(4.8vw, 14px);
        }
        .desc_one {
          font-size: max(3.6vw, 15px);
        }
        .desc_two {
          font-size: max(3.1vw, 14px);
        }
        .desc_third {
          font-size: max(3.1vw, 14px);
        }
      }
    }
    .download {
      .title {
        font-size: max(5vw, 15px);
      }
    }
  }
}
@media (max-width: 380px) {
  .container {
    .container_content {
      .container_hero {
        width: 220px;
        height: 220px;
      }
    }
  }
}
@media (max-width: 300px) {
  @media (max-width: 380px) {
    .container {
      .container_content {
        .container_hero {
          width: 180px;
          height: 180px;
        }
      }
      .download {
        .link {
          .container_img {
            width: 42px;
            height: 42px;
            img {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
