@import '../../../styles/colors.scss';
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
  position: absolute;
  text-align: center;
  color: white;
  background-color: #13131f;
  .particles {
    z-index: 1;
  }
  .title {
    z-index: 1;
    font-size: 100px;
    span {
      z-index: 1;
      color: rgb(0, 255, 140);
    }
  }
  .subtitle {
    padding: 0 10px;
    z-index: 1;
    font-size: 30px;
  }
  .container_whatsapp {
    z-index: 1;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      color: $white;
      transition: all 0.4s;
      &:hover {
        transform: scale(110%);
        transition: all 0.4s;
      }
      .header {
        font-size: 25px;
      }
      .img {
        max-width: 50px;
        width: 100%;
        cursor: pointer;
      }
    }
  }
}
.background {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  .background_left {
    position: absolute;
    left: -20px;
    bottom: 0;
    max-width: 300px;
    width: 100%;
  }
  .background_right {
    position: absolute;
    right: 0;
    top: -20px;
    max-width: 300px;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .background {
    .background_left {
      max-width: 200px;
    }
    .background_right {
      max-width: 200px;
    }
  }
}
@media (max-width: 500px) {
  .container {
    .title {
      font-size: 18vw;
    }
    .subtitle {
      font-size: 6vw;
    }
    .container_whatsapp {
      .link {
        .header {
          font-size: 6vw;
        }
        .img {
          width: 40px;
        }
      }
    }
  }
}
@media (max-width: 380px) {
  .container {
    .container_whatsapp {
      .link {
        .img {
          margin-top: -5px;
          width: 30px;
        }
      }
    }
  }
}
@media (max-width: 320px) {
  .background {
    .background_left {
      max-width: 150px;
    }
    .background_right {
      max-width: 150px;
    }
  }
}
