$primary: #00ff8c;
$secondary: #13131f;
$white: #ffff;
$background_white: rgb(255, 255, 255);
$background_black: #101010;
$font_rubik: 'Rubik', sans-serif;
$font_passion: 'Passion One', sans-serif;
$background_green: rgba(0, 255, 106, 0.723);
$background_primary: #13131f;
$background_download: rgb(38, 38, 38);
$background_navbar_blur: #13131fea;
$background_project_blur: rgba(0, 0, 0, 0.362);
