@import './colors.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font_rubik;
}
main {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
