@import '../../../styles/colors.scss';
.transition {
  z-index: 999999;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #13131f;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.5s;
  border-left: 1px solid $primary;
  p {
    font-size: 120px;
    color: white;
    span {
      color: $primary;
    }
  }
}
.slide-in {
  width: 100%;
  opacity: 1;
  right: 0;
  transition: all 0.5s;
}
.slide-out {
  width: 0;
  opacity: 0;
  right: -100%;
  transition: all 0.5s;
}

@media (max-width: 700px) {
  .transition {
    p {
      font-size: max(5vw, 80px);
    }
  }
}
@media (max-width: 430px) {
  .transition {
    p {
      font-size: max(5vw, 60px);
    }
  }
}
@media (max-width: 320px) {
  .transition {
    p {
      font-size: max(5vw, 40px);
    }
  }
}
